<br>
<b><h2>Preços</h2></b><br>

<div class="table-responsive" style="width: 600px;">
  <table class="table table-hover">
    <thead class="thead-dark">
    <tr>
      <th style="width: 115px">Veículo</th>
      <th>0-15min</th>
      <th>15-30min</th>
      <th>30-45min</th>
      <th>45-60min</th>
      <th>+ 1h</th>
      <th>Editar</th>
    </tr>
    </thead>

    <tbody>
    <tr>
      <td>Moto</td>
      <td>R$8,00</td>
      <td>R$10,00</td>
      <td>R$15,00</td>
      <td>R$20,00</td>
      <td>R$25,00</td>
      <td><span class="glyphicon glyphicon-pencil"></span></td>
    </tr>

    <tr>
      <td>Carro</td>
      <td>R$8,00</td>
      <td>R$10,00</td>
      <td>R$15,00</td>
      <td>R$20,00</td>
      <td>R$25,00</td>
      <td><span class="glyphicon glyphicon-pencil"></span></td>
    </tr>

    <tr>
      <td>Caminhonete</td>
      <td>R$8,00</td>
      <td>R$10,00</td>
      <td>R$15,00</td>
      <td>R$20,00</td>
      <td>R$25,00</td>
      <td><span class="glyphicon glyphicon-pencil"></span></td>
    </tr>

    </tbody>
  </table>
</div>
