<br>
<b><h3>Configurações</h3></b><br>

<h4>Empresa</h4><br>
<br>

<div class="row">

  <div class="col-md-5" style="padding-bottom: 15px; position:relative; left: 10px;">
    <label>Razão Social</label>
    <input type="text" readonly class="form-control" placeholder="Razão Social">
  </div>

  <div class="col-md-5" style="padding-bottom: 15px; position:relative; left: 10px;">
    <label>Nome fantasia</label>
    <input type="text" readonly class="form-control" placeholder="Nome fantasia">
  </div>

  <div class="col-md-5" style="padding-bottom: 15px; position:relative; left: 10px;">
    <label>Nº de vagas</label>
    <input type="text" readonly class="form-control" placeholder="Nº de vagas">
  </div>

  <div class="col-md-5" style="padding-bottom: 15px; position:relative; left: 10px;">
    <label>CNPJ</label>
    <input type="text" readonly class="form-control" placeholder="CNPJ">
  </div>

  <div class="col-md-5" style="padding-bottom: 15px; position:relative; left: 10px;">
    <label>Endereço</label>
    <input type="text" readonly class="form-control" placeholder="Endereço">
  </div>

  <div class="col-md-5" style="padding-bottom: 15px; position:relative; left: 10px;">
    <label>Estado</label>
    <input type="text" readonly class="form-control" placeholder="Estado">
  </div>


</div>


