<br>
<b><h2>Cadastros</h2></b><br>

<div class="btn-group" role="group" aria-label="Button group with nested dropdown">
  <button type="button" class="btn btn-info">Hoje</button>
  <button type="button" class="btn btn-info">Últimos 7 dias</button>
  <button type="button" class="btn btn-info">Últimos 30 dias</button>
  <button type="button" class="btn btn-info">Mês anterior</button>
  <div class="btn-group" role="group">
    <button id="btnGroupDrop1" type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Selecionar mes ou ano
    </button>
    <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
      <a class="dropdown-item" href="#">Dropdown link</a>
      <a class="dropdown-item" href="#">Dropdown link</a>
    </div>
  </div>
</div>
<br><br>
<div class="table-responsive" style="width: 600px;">
  <table class="table table-hover">
    <thead class="thead-dark">
    <tr>
      <th style="width: 115px">Data de abertura</th>
      <th>Data de fechamento</th>
      <th>Valor F</th>
      <th>Fechado por</th>
    </tr>
    </thead>

    <tbody>
    <tr>
      <td>01/01/2019</td>
      <td>01/01/2019</td>
      <td>R$10,00</td>
      <td>R$10,00</td>
    </tr>

    <tr>
      <td>01/01/2019</td>
      <td>01/01/2019</td>
      <td>R$10,00</td>
      <td>R$10,00</td>
    </tr>

    <tr>
      <td>01/01/2019</td>
      <td>01/01/2019</td>
      <td>R$10,00</td>
      <td>R$10,00</td>
    </tr>

    <tr>
      <td>01/01/2019</td>
      <td>01/01/2019</td>
      <td>R$10,00</td>
      <td>R$10,00</td>
    </tr>

    <tr>
      <td>01/01/2019</td>
      <td>01/01/2019</td>
      <td>R$10,00</td>
      <td>R$10,00</td>
    </tr>

    <tr>
      <td>01/01/2019</td>
      <td>01/01/2019</td>
      <td>R$10,00</td>
      <td>R$10,00</td>
    </tr>

    <tr>
      <td>01/01/2019</td>
      <td>01/01/2019</td>
      <td>R$10,00</td>
      <td>R$10,00</td>
    </tr>

    <tr>
      <td>01/01/2019</td>
      <td>01/01/2019</td>
      <td>R$10,00</td>
      <td>R$10,00</td>
    </tr>

    <tr>
      <td>01/01/2019</td>
      <td>01/01/2019</td>
      <td>R$10,00</td>
      <td>R$10,00</td>
    </tr>

    </tbody>
  </table>
</div>
